@font-face {
    font-family: "Inter Thin";
    src: url("Inter-Thin.eot"); /* IE9 */
    src: url("Inter-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Inter-Thin.woff") format("woff"), /* chrome, firefox */
    url("Inter-Thin.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Inter-Thin.svg#Inter Thin") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


